<!DOCTYPE html> 
<html> 
<head> 
		
</head> 
<body> 
    <form action="/sign_in" method="post"> 
					
        <h1> Sign-in form </h1> 
                        
        <input class="box" type="text" name="name" id="name"
        placeholder="Name" required /><br> 
                        
        <input class="box" type="password" name="password"
        id="password" placeholder="Password " required/><br> 
        
        <input type="submit" id="submitDetails"
        name="submitDetails" value="Submit" /><br> 

    </form> 
</body> 
</html>	 
